@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background Animation for the body */

.gradient-background {
  background: linear-gradient(300deg, #00bfff, #542cb3, #ef8172);
  background-size: 180% 180%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  animation: gradient-animation 30s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 400px;
  height: 200px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.285),
    10px 25px 30px rgba(0, 0, 0, 0.3);
}

.timer {
  font-family: "Work Sans", sans-serif;
  font-size: 25px;
  user-select: none;
  letter-spacing: 2px;
  color: whitesmoke;
}

button {
  font-family: "Work Sans", sans-serif;
  width: 80px;
  padding-block: 5px;
  margin-inline: 5px;
  border-radius: 100vh;
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: inset 0 4px 5px 1px rgb(0 0 0 / 50%),
    10px 25px 30px rgba(0, 0, 0, 0.3);
}

button:active {
  transform: translateY(2px);
}

/* Media Query to resize the stopwatch container on Mobile devices */
@media (max-width: 426px) {
  .container {
    width: 300px;
  }
}
